<div class="d-flex justify-content-center bg_primary">
  <img class="w-25 vh-15" src="https://cdn.easybroker.com/assets/product/logos/logo-white-cc1617f28465fb306396242559994bf84e48f9224efa4277e959b1b8da48a362.svg">
</div>
